<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
    <a href="https://www.sapalomera.cat" target="_blank" rel="noopener">
      <strong>INSTITUT SA PALOMERA</strong>
    </a> | <a href="https://maps.app.goo.gl/b6h64zfN3DgYYGE8A" target="_blank" rel="noopener">C/ Vilar Petit, 24 · 17300 Blanes (Girona)</a><br>
      Tel. 972 350 909 | Fax 972 352 440 | info&#64;sapalomera.cat
    </div>
    <div class="footer-horari">
      <strong>HORARI DE LA CANTINA</strong><br>
        De 9h a 21h
    </div>
  </div>
</footer>

