<main class="historial">
    <section class="llista-historial">
        <h2>Comandes realitzades</h2>
        <ul id="comandes">
            <li>
                <strong>Data:</strong> 01/05/2025<br>
                <strong>Productes:</strong> Pizza, Cola<br>
                <strong>Total:</strong> 3.50 €
            </li>
            <li>
                <strong>Data:</strong> 27/04/2025<br>
                <strong>Productes:</strong> Macarrons, Cola<br>
                <strong>Total:</strong> 4.50 €
            </li>
            <li>
                <strong>Data:</strong> 23/04/2025<br>
                <strong>Productes:</strong> Entrepà de formatge, Cola<br>
                <strong>Total:</strong> 5.50 €
            </li>
            <li>
                <strong>Data:</strong> 21/04/2025<br>
                <strong>Productes:</strong> Pizza, Cola<br>
                <strong>Total:</strong> 3.50 €
            </li>
            <li>
                <strong>Data:</strong> 16/04/2025<br>
                <strong>Productes:</strong> Macarrons<br>
                <strong>Total:</strong> 3.00 €
            </li>
            <li>
                <strong>Data:</strong> 12/04/2025<br>
                <strong>Productes:</strong> Pizza, Cola<br>
                <strong>Total:</strong> 3.50 €
            </li>
            <li>
                <strong>Data:</strong> 03/04/2025<br>
                <strong>Productes:</strong> Pizza, Cola<br>
                <strong>Total:</strong> 3.50 €
            </li>
        </ul>
    </section>
</main>
