header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--white);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 123, 255, 0) 0%, var(--dark-blue) 100%);
}

header .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    height: 50px;
}

header img {
    width: 100px;
    height: 50px;
    border-radius: 50%;
}

.menu-principal {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    background-color: var(--primary);
    color: var(--black);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  }
  
  .btn:hover {
    background-color: var(--secondary);
    transform: translateY(-3px);
  }


  .carrito-btn {
  position: fixed;
  right: 15rem;
  background-color: #4f46e5; /* azul indigo */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  z-index: 999;
}

.carrito-btn:hover {
  transform: scale(1.1);
}

.carrito-count {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}
